:root {
  --bootstrap-xs-max: 576px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #f0f2f5;
}

.button-no-style,
.button-no-style:hover,
.button-no-style:focus {
    color: #aa1d23;
    border: 0;
    outline: 0;
    padding: 0; 
    background: none;
    display: inline;
    text-align: left;
    cursor: pointer;
}

.modal-footer, .modal-footer>* {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

#modal-footer-buttons>* {
  margin-left: 8px;
}

.scroll-x {
  min-width: var(--bootstrap-xs-max);
}

.scroll-x-container {
  overflow-x: auto;
}

.scroll-x-container::-webkit-scrollbar {
	height: 6px;
}

.scroll-x-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #666;
}

@media (max-width: 576px) {
  #main-header {
    padding: 0;
    display: flex;
  }

  #main-nav {
    margin: 0 auto;
  }
}

/* Ant design overrides */
.ant-card-meta-title {
  text-align: center;
}

.card-link {
  color: rgba(0, 0, 0, 0.85);
}

.card-link, .card-link:hover, .card-link:active, .card-link:focus {
  text-decoration: none;
}

.card-link:hover>div {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.card-link>div {
  width:100%;
  height:100%;
  max-height: 180px;
  overflow: hidden;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
}

.card-list,
.ant-layout-footer {
  padding: 48px 24px !important;
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ant-layout-footer .ant-card-body {
  padding: 8px;
}

/* 
  Not ideal way to change the selected color, still trying to find the .less variable in...
  https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 */
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:active,
.ant-dropdown-menu-item-active,
.ant-fullcalendar-selected-day>*,
.ant-fullcalendar-month-panel-selected-cell>*,
.ant-fullcalendar-date:hover,
.ant-fullcalendar-month:hover,
.ant-select-dropdown-menu-item-active {
  background-color: #E8E6EC !important;
}